.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: var(--width-container);
    padding: var(--default-padding);
    padding-right: 15px;
    margin: 0 auto;
    color: #fff;
}

.headline {
    margin: 0.67em 0 60px !important;
    font-size: 56px!important;
    line-height: 74px;
    color: #fff;
}

.buttons {
    margin-bottom: 48px;
}

.cases {
    width: 100%;
    margin-bottom: 110px;
}

@media screen and (max-width: 576px) {
    .cases {
        margin-bottom: 70px;
    }
    .buttons {
        margin-bottom: 29px;
    }
    .headline {
        font-size: 32px !important;
        line-height: 46px;
    }
    .headline {
        margin: 0.67em 0 32px !important;
    }
}
