.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.posting button {
    pointer-events: none;
}

.posting {
    opacity: .5;
}

.posting * {
    cursor: not-allowed;
}

.form textarea {
    resize: none;
}

.headlineBlock {
    display: flex;
    align-items: flex-start;
}

.headline {
    margin-right: 46px;
}

.buttonClose {
    display: flex;
    align-items: center;
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.formItem {
    padding: 12px;
    border-bottom: 1px solid #D9D9D9;
    font-weight: 300;
    font-size: 32px;
    line-height: 46px;
}

.formItem:focus {
    border-bottom-color: var(--text-hover);
}

.formItem input {
    margin-bottom: 16px;
}

.form textarea {
    margin-bottom: 40px;
}

.formItem::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #9D9D9D;
    margin-top: auto;
    padding-top: 60px;
}

.spanPolicy {
    display: block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2C393E;
}

.link {
    color: #46A77D;
    cursor: pointer;
}

.error {
    position: absolute;
    top: 20px;
    left: 0;
    color: red;
}

.error + input {
    border-bottom-color: red;
}

@media screen and (max-width: 576px) {
    .form textarea {
        padding: 0 8px;
    }
    .formItem {
        font-size: 20px;
        padding-right: 15px;
        width: max-content;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .form textarea::placeholder {
        padding-top: 30px;
    }
}
