.menuItemsHero {
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 100%;
    height: auto;
}

.sectionHero {
    position: relative;
    display: flex;
    justify-content: flex-start;
    max-width: var(--width-container);
    padding: var(--default-padding);
    padding-bottom: 178px;
    padding-top: 97px;
    margin: 0 auto;
    color: #fff;
}

.sectionHero button {
    position: absolute;
    top: 66%;
}

.firstContainer {
    width: 65%;
}

.headline_1 {
    margin-right: 25px;
}

.menuItemsHeroImage {
    position: absolute;
    width: 50%;
    right: 20px;
    top: 32%;
    transform: translate(0, -50%);
}

.listHeadLine {
    font-size: 20px;
    margin-bottom: 15px;
}

.paragraph {
    width: 70%;
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.paragraph:not(:last-child) {
    margin-bottom: 12px;
}

.textsBlock {
    margin-bottom: 40px;
}

.blockMenuItems {
    width: 35%;
    padding-top: 55px;
    font-size: 20px;
    line-height: 28px;
}

.blockMenuItems > div:not(:last-child) {
    padding-bottom: 22px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DADADA;
}

.icon {
    margin-bottom: 8px;
}

.name {
    padding-right: 40px;
}

@media screen and (max-width: 992px) {
    .sectionHero {
        flex-direction: column;
        padding: 0 16px 60px;
    }
    .firstContainer {
        width: 100%;
        padding-right: 10px;
        margin-bottom: 24px;
    }
    .blockMenuItems {
        width: 100%;
        padding-top: 0;
        margin-bottom: 0 !important;
    }
    .sectionHero > button {
        margin-top: 60px;
        position: static;
    }
    .paragraph {
        width: 100%;
    }
    .menuItemsHeroImage {
        position: static;
        width: 100%;
        transform: none;
    }
    .listHeadLine {
        display: block;
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    .blockMenuItems {
        margin-bottom: 38px;
    }
    .name {
        padding-right: 0;
    }
    .icon {
        margin-bottom: 4px;
    }
    .menuItemsHero {
        margin-bottom: 22px !important;
    }
}
