.button {
    position: relative;
    display: block;
    padding: 24px 24px;
    background: #46A77D;
    color: #fff;
    min-height: 66px;
    text-align: center;
    text-transform: uppercase;
}

.link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .button {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .button {
        font-size: 18px !important;
        line-height: 18px;
        font-weight: 500;
    }
}
