.link {
    padding: 8px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

.activeButton a {
    background: var(--text-hover);
    border-color: var(--text-hover);
}

.button  {
    display: inline-flex;
    flex-wrap: wrap;
    min-height: 46px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 20px !important;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
    text-transform: unset !important;
}
