.section {
    max-width: var(--width-container);
    padding: var(--default-padding);
    padding-top: 100px;
    padding-bottom: 116px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.containerImages {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}

.imageContainer {
    position: relative;
    width: calc(33.3% - 16px);
    height: 364px;
    display: flex;
}

.imageContainer:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 24px;
}

.imageContainer:not(:nth-child(3n)) {
    margin-right: 24px;
}

.link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.itemInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    height: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 22px 18px 17px 19px;
}

.image {
    display: flex;
    width: 100%;
    object-fit: cover;
}

.headline_2 {
    color: #fff;
    margin-bottom: 60px;
}

.category {
    display: block;
    width: min-content;
    margin-bottom: 12px;
    padding: 4px 12px;
    border: 1px solid #F9F9F9;
    font-size: 16px;
    line-height: 24px;
    white-space: pre;
}

.headline {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
    .imageContainer {
        width: calc(50% - 12px);
    }
    .imageContainer:nth-child(3n) {
        margin-bottom: 0;
    }
    .imageContainer:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 576px) {
    .category {
        margin-bottom: 7px;
        padding: 2px 6px;
    }
    .itemInfo {
        width: 100%;
        padding: 9px 9px 8px 9px;
    }
    .category {
        font-size: 7.736px;
        line-height: 11.604px;
    }
    .headline {
        font-size: 11.604px;
        font-weight: 300;
        line-height: 16.44px;
    }
}
