.menuItem:hover a, .menuWithSubItems:hover {
    color: var(--text-hover);
}

.menuWithSubItems:hover > div * {
    color: #fff;
}

.menuWithSubItems:hover, .menuWithSubItems:hover svg {
    cursor: default;
}

.menuItem, .menuWithSubItems {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menuListWithSubItems {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: var(--default-padding);
}

.containerListWithSubItems {
    display: none;
    visibility: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    top: var(--menu-height);
    left: 0;
    right: 0;
    background-color: var(--bg-dark);
    z-index: 5;
}

.needShowSubMenu > div {
    display: flex;
    visibility: visible;
}

.menuWithSubItems > svg {
    margin-left: 7px;
}

.menuWithSubItems:hover > svg {
    transform: rotate(180deg);
    transition: all .1s ease-in-out;
}

.menuWithSubItems:hover > svg path {
    fill: #46A77D;
}

.subItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 366px;
    height: auto;
    text-transform: none;
    font-size: 20px;
}

.itemLink {
    padding: 24px 0;
}

.subItem:not(:last-child) {
    margin-right: 16px;
}

.subItemContainer:hover {
    background-color: var(--bg-dark-80);
}

.subItem a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.subItemLink {
    margin-bottom: auto;
}

.subItemContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 20px 65px 16px 16px;
}

@media screen and (max-width: 576px) {
    .menuWithSubItems, .menuWithSubItems * {
        flex-direction: column;
    }
    .menuWithSubItems {
        position: relative;
        min-width: 100%;
    }
    .menuWithSubItems > svg {
        position: absolute;
        top: 5px;
        left: 95px;
        min-height: 20px;
        z-index: 25;
    }
    .menuListWithSubItems {
        margin-right: auto;
        margin-top: 8px;
        padding: 0;
    }
    .menuListWithSubItems * {
        padding-left: 0;
    }
    .containerListWithSubItems {
        position: static;
        padding: 0;
        margin-top: 24px;
    }
    .subItem {
        height: 100%;
        margin-right: 0;
    }
    .subItem:not(:last-child) {
        margin-bottom: 24px;
    }
    .subItem:last-child {
        margin-bottom: 8px;
    }
    .itemLink {
        display: flex;
        padding: 8px 8px 8px 0;
    }
    .itemLink, .subItemLink {
        width: 100%;
    }
    .subItemContainer {
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 16px !important;
        line-height: 24px;
    }
    .subItemContainer > svg {
        max-width: 24px;
        max-height: 24px;
        margin-right: 12px;
    }
    .subItemContainer {
        font-size: 16px;
        line-height: 24px;
    }
    .menuItem a {
        width: 100%;
    }
}
