.navContainer {
    height: 100%;
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
    font-size: 14px;
}

.menuList {
    display: flex;
    height: 100%;
    list-style: none;
}

.menuList > li > * {
    align-items: center;
    min-height: 100%;
}

.menuList > li:not(:last-child) {
    margin-right: 33px;
}

.menuBottom {
    display: none;
    visibility: hidden;
}

.contacts {
    display: flex;
    flex-direction: column;
    color: var(--text-hover);
    padding: 31px 0;
    border-top: 1px solid #202A3E;
}

.contacts > a {
    line-height: 17px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contacts > a svg {
    margin-right: 8px;
}

.contacts > a:not(:last-child) {
    margin-bottom: 12px;
}

.burger {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 992px) {
    .nav, .navContainer {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .menuList > li:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 576px) {
    .navContainer {
        margin-right: 0;
    }
    .nav {
        display: none;
        visibility: hidden;
        height: auto;
        min-height: 755px;
        background: #111929;
        padding-top: 20px;
    }
    .menuList {
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .menuList > li, .menuList {
        background: #111929;
    }

    .menuList > li {
        align-items: flex-start;
        padding-left: 32px;
        margin-bottom: 16px;
        text-transform: none;
    }

    .menuList > li, .menuList > li > a {
        font-size: 20px;
        line-height: 28px;
    }

    .menuList > li > * {
        min-height: auto;
    }
    .menuBottom {
        display: flex;
        flex-direction: column;
        visibility: visible;
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .burger {
        display: flex;
        visibility: visible;
        align-items: center;
    }
    .burger + nav {
        position: absolute;
        top: var(--menu-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 20;
    }
    .burger svg rect {
        transition: all .2s ease-in-out;
    }
}
