.success {
    position: relative;
    max-width: 674px;
    padding-top: 50px;
    min-height: 50%;
}


.success button {
    position: absolute;
    top: 0;
    right: 0;
}

.successContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.successContent > svg {
    margin-bottom: 24px;
}

.successHeadline {
    text-align: center;
}

@media screen and (max-width: 576px) {
    .successContent {
        padding: 0 20px;
    }
}