.section {
    position: relative;
    padding-bottom: 56px;
}

.section:not(:last-child) {
    margin-bottom: 56px;
}

.section {
    border-bottom: 1px solid #DADADA;
}

.imageDecor {
    position: absolute;
    right: 0;
    top: calc(50% - 70px);
    transform: translate(0, -50%);
    width: 32%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.headline {
    max-width: 70%;
    padding-right: 20px;
}

.headline {
    margin-bottom: 32px;
}

.link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #46A77D;
}

@media screen and (max-width: 992px) {
    .section {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .headline {
        display: inline-block;
        max-width: unset;
        width: 75%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        font-size: 20px !important;
        line-height: 28px;
        padding-right: 0;
    }
    .imageDecor {
        position: static;
        display: inline-flex;
        align-items: center;
        height: 96px;
        width: 96px;

        transform: unset;
        margin-right: 30px;
        vertical-align: top;
    }
    .link {
        display: block;
        margin-top: 32px;
    }
}

@media screen and (max-width: 576px) {
    .imageDecor {
        margin-right: 8px;
    }
    .headline {
        width: calc(100% - 110px);
    }
}
