.list {
    max-width: 70%;
    padding-right: 20px;
}

.list {
    list-style: none;
    margin-bottom: 32px;
}

.listItem {
    position: relative;
    padding-left: 35px;
    font-weight: 400;
    line-height: 36px;
    white-space: pre-line;
}

.listItem::before {
    content: '\25EF';
    position: absolute;
    top: -1px;
    left: 0;
    color: #2C393E;
    font-weight: 300;
    scale: 1.13;
}

.whiteDots:before {
    color: #e5e7eb;
}

@media screen and (max-width: 992px) {
    .list {
        max-width: unset;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .listItem {
        line-height: 24px;
        padding-left: 30px;
        margin-bottom: 8px;
    }
    .listItem::before {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
