.container {
    max-width: var(--width-container);
    padding: var(--default-padding);
    margin: 87px auto 92px;
}

@media screen and (max-width: 576px) {
    .container {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-left: 16px;
        padding-right: 16px;
    }
}