.section {
    max-width: var(--width-container);
    height: auto;
    padding: var(--default-padding);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.containerImages section {
    margin: 0;
}

.containerImages div:not(:last-child) section {
    padding-bottom: 50px;
    border-bottom: 1px solid #DADADA;
}

.languages > div, .frameworks > div, .inWorks > div {
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

.languages section {
    min-height: 298px;
}

.frameworks section {
    min-height: 502px;
}

.inWorks section {
    min-height: 74px;
}

.headline {
    margin-bottom: 24px;
}

.span {
    display: block;
    max-width: 45%;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #2C393E;
}

@media screen and (max-width: 992px) {
    .section {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .span {
        max-width: unset;
        width: 100%;
        margin-bottom: 48px;
    }
    .headline {
        margin-bottom: 16px !important;
    }
}
