.section {
    margin-top: 40px;
}

.headline {
    margin-top: 0;
    color: #2C393E;
    font-size: 48px !important;
    line-height: 64px;
    margin-bottom: 24px;
}

.backButton {
    position: relative;
    padding-left: 20px;
    margin-bottom: 24px;
    color: #2C393E;
    font-size: 16px;
    line-height: 24px;
}

.backButton::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 7px;
    color: #2C393E;
}

.tags {
    max-width: 68%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.tag {
    padding: 4px 12px;
    color: var(--text-hover);
    border: 1px solid var(--text-hover);
}

.tag:not(:last-child) {
    margin-right: 12px;
}

.imageContainer {
    max-width: 68%;
    margin-bottom: 60px;
}

.image {
    width: 100%;
    height: auto;
}

.containerInfo {
    margin-bottom: 60px;
}

.headline_2 {
    margin-bottom: 24px;
    font-size: 32px !important;
    line-height: 46px;
    color: #2C393E;
}

.paragraph {
    max-width: 68%;
    font-size: 16px;
    line-height: 24px;
    color: #2C393E;
}

.paragraph:not(:last-child) {
    margin-bottom: 12px;
}

.sectionMasonry {
    background: var(--bg-dark);
    padding: var(--default-padding);
    padding-bottom: 60px;
    color: #fff;
}

.containerTexts {
    margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
    .section {
        margin-top: 24px;
    }
    .headline {
        font-size: 32px !important;
        line-height: 46px;
    }
    .containerInfo {
        margin-bottom: 24px;
    }
    .tags {
        flex-direction: column;
        margin-bottom: 24px;
    }
    .tag {
        max-width: min-content;
    }
    .tag:not(:last-child) {
        margin-bottom: 12px;
    }
    .imageContainer {
        max-width: 100%;
        margin-bottom: 24px;
    }
    .headline_2 {
        margin-bottom: 16px;
    }
    .paragraph {
        max-width: 100%;
    }
    .paragraph:last-child {
        margin-bottom: 24px;
    }
}