.section {
    position: relative;
    margin: 180px 0;
}

.section > svg {
    display: inline;
    margin-right: 25px;
}

.container {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: auto;
}

.headline {
    display: inline-block;
    margin-bottom: 50px;
}

.headline > svg {
    margin-right: 25px;
}

@media screen and (max-width: 992px) {
    .section {
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 576px) {
    section.section {
        display: flex;
        /*flex-direction: column;*/
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    section.section > svg {
        display: inline;
    }
    .headline {
        display: inline;
        max-width: calc(90% - 30px);
        /*margin-left: auto;*/
        margin-bottom: 0;
    }
    .container {
        margin-top: 24px;
    }
}
