.sectionMasonry {
    width: 100%;
    max-width: var(--width-container);
    background: var(--bg-dark);
    padding: var(--default-padding);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 125px;
    color: #fff;
}
