:root {
  --menu-height: 50px;
  --width-container: 1152px;
  --default-padding: 0 20px;
  --bg-dark: #111929;
  --bg-dark-80: #202A3E;
  --text-hover: #46A77D;
}

input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  font-size:13px;
}

input:focus, textarea:focus
{
  outline:0;
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

input[type=file]
{

}

input[type=search]
{
  -webkit-appearance:textfield;
}

::-webkit-search-decoration
{
  display:none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
  overflow:visible;
  width:auto;
}

::-webkit-file-upload-button
{
  padding:0;
  border:0;
  background:none;
}

textarea
{
  vertical-align:top;
  overflow:auto;
}

select
{

}

select[multiple]
{
  vertical-align:top;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

main {
  flex: 1 1 auto;
  background-color: #fff;
}

h1 {
  font-size: 56px !important;
  line-height: 74px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 48px !important;
  line-height: 64px;
  color: #2C393E;
}

h1, h2 {
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
  font-size: 32px !important;
  line-height: 46px;
  text-transform: uppercase;
  color: #2A2D2F;
}

h4 {
  margin-top: 39px;
}

header {
  position: relative;
  background-color: var(--bg-dark);
  color: #fff;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.burger-opened + nav {
  display: flex;
  visibility: visible;
}

.case-item {
  display: flex;
  flex-direction: column;
  width: calc(32% - 2px);
  margin-bottom: 20px;
}

.case-item img {
  display: flex;
  width: 100%;
}

.section__policy {
  margin-top: 0.67em;
}

.paragraph__policy {
  white-space: break-spaces;
  line-height: 25px;
}

.section__policy h4 {
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 32px !important;
    line-height: 46px;
  }
  h2 {
    font-size: 32px !important;
    line-height: 46px;
    margin-bottom: 24px !important;
  }
  h3 {
    font-size: 24px !important;
    line-height: 38px;
  }
  .case-item {
    width: 48.2%;
  }
  .paragraph__policy {
    max-height: unset;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --menu-height: 64px;
  }
  .case-item {
    width: 47.2%;
  }
}

@media screen and (max-width: 390px) {
  .case-item {
    width: 46.5%;
  }
}
