.modal {
    max-width: 674px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background: #fff;
    border: 1px solid #E5E7EB;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.modal label:first-child span:first-child {
    display: none;
}

.modal label span {
    top: -8px;
}

.modal > section {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
    .modal {
        z-index: 20;
    }
}

@media screen and (max-width: 576px) {
    .modal > section {
        padding: 10px;
    }
}