.container {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: bottom;
}

@media screen and (max-width: 992px) {
    .container {
        min-height: unset;
    }
}