.listCases {
    width: 100%;
    list-style: none;
}

.listCases + button, .listCases + a {
    width: 99% !important;
    margin-top: 16px;
}

.link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.itemInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    height: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 22px 18px 17px 19px;
}

.image {
    display: flex;
    width: 100%;
}

.category {
    display: block;
    width: min-content;
    margin-bottom: 12px;
    padding: 4px 12px;
    border: 1px solid #F9F9F9;
    font-size: 16px;
    line-height: 24px;
    white-space: pre;
}

.headline_2 {
    color: #fff;
    padding-top: 60px;
    margin-bottom: 60px;
}

.headline {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@media screen and (max-width: 992px) {
    .headline {
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
    }
}

@media screen and (max-width: 576px) {
    .category {
        margin-bottom: 7px;
        padding: 2px 6px;
    }
    .itemInfo {
        width: 100%;
        padding: 9px 9px 8px 9px;
    }
    .category {
        font-size: 8px;
        line-height: 12px;
    }
    .headline {
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        -webkit-line-clamp: 3;
    }
}
