.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menu-height);
    max-width: var(--width-container);
    padding: var(--default-padding);
    margin: 0 auto;
}

.logoContainer {
    height: 100%;
    margin-right: 60px;
}

.logoLink {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.contacts {
    height: 100%;
    display: flex;
    align-items: center;
    color: #46A77D;
}

.contacts > a {
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .logoContainer {
        margin-right: 20px;
    }
    .headerContent * {
        font-size: 10px;
    }
}

@media screen and (max-width: 576px) {
    .contacts {
        display: none;
        visibility: hidden;
    }
}