.footerNav {
    display: flex;
    margin-right: auto;
    color: #fff;
    font-size: 14px;
}

.footerNavList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

@media screen and (max-width: 992px) {
    .footerNavList {
        flex-wrap: nowrap;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 576px) {
    .footerNavList {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}