.menuItemName {
    margin-bottom: 12px;
    text-transform: uppercase;
}

.listWithSubItems {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    margin-right: 89px;
    list-style: none;
}

.listWithSubItems li {
    margin-top: 12px;
    line-height: 20px;
    text-transform: none;
}

.listWithSubItems li:hover {
    color: var(--text-hover);
}

.menuItemWithSubItems {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
}

.subItem {
    cursor: pointer;
}

.subItemLink {
    display: block;
    height: 100%;
}

.menuItem {
    text-transform: uppercase;
}

.menuItem:hover a {
    color: var(--text-hover);
}

.menuItem:not(:last-child) {
    margin-bottom: 16px;
}

@media screen and (max-width: 992px) {
    .listWithSubItems {
        max-height: unset !important;
        margin-bottom: 24px;
    }
}