.footer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
    margin-top: auto;
}

.containerFooter {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: var(--width-container);
    width: inherit;
    margin: 0 auto;
    padding: var(--default-padding);
    padding-top: 34px;
    padding-bottom: 31px;
}

.companyInfo {
    display: flex;
    flex-direction: column;
}

.companyCopyright {
    color: #9CA3AF;
}

.companyCopyright > div {
    font-size: 12px;
    line-height: 150%;
}

.company {
    margin-right: 38px;
}

.contacts {
    display: flex;
    flex-direction: column;
    color: var(--text-hover);
    line-height: 17px;
}

.contacts > a:not(:last-child) {
    margin-bottom: 6px;
}

.logoContainer {
    margin-bottom: 22px;
}

.policy {
    position: absolute;
    bottom: 38px;
    left: 62%;
    color: var(--text-hover);
}

@media screen and (max-width: 992px) {
    .containerFooter {
        flex-direction: column;
    }

    .company {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 576px) {
    .containerFooter {
        padding: 0;
    }
    .policy {
        position: static;
        margin-right: auto;
    }
    .footer {
        flex-direction: column;
        padding: 24px 16px;
    }
    .contacts {
        margin-bottom: 24px;
    }
    .policy, .contacts {
        font-size: 14px;
        line-height: 17px;
    }
    .companyCopyright {
        font-size: 12px;
    }
}