.section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headline_2 {
    flex: 0 0 100%;
    margin-bottom: 46px;
}

.contacts, .formContainer {
    flex: 0 0 47%;
    padding-right: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    color: var(--text-hover);
    font-weight: 300;
    font-size: 32px;
    line-height: 46px;
}

.contactsBlock:not(:last-child) {
    margin-bottom: 24px;
}

.contactsName {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


@media screen and (max-width: 992px) {
    .contacts {
        flex: unset;
        width: 100%;
        margin-bottom: 60px;
    }
    .formContainer {
        flex: unset;
        width: 100%;
        padding-right: 0;
    }
}
