.section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: var(--width-container);
    padding: var(--default-padding);
    margin: 0 auto;
    padding-top: 138px;
    padding-bottom: 88px;
}

.paragraphContainer {
    flex: 0 0 45%;
    margin-bottom: 37px;
}

.paragraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 10px;
    margin-bottom: 38px;
}

.paragraph > svg {
    margin-top: 38px;
    display: block;
}

.infoContainer {
    flex: 0 0 45%;
}

.headline_2 {
    margin-bottom: 36px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.infoItem:not(:last-child) {
    padding-bottom: 22px;
    border-bottom: 1px solid #DADADA;
}

.count {
    font-weight: 300;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 4px;
}

.text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #9D9D9D;
}

@media screen and (max-width: 992px) {
    .section {
        flex-direction: column;
        padding: 60px 12px;
    }
    .paragraph {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .paragraph svg {
        display: none;
        visibility: hidden;
    }
    .paragraphContainer {
        margin-bottom: 24px;
    }
    .infoContainer {
        flex: unset;
        width: 100%;
    }
}
